* {
    width: 100%px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 46%;
    /* padding: 0%; */
    /* padding-top: 40px; */
    height: 0;
    text-align: center;
    overflow: hidden;
    align-items: center;
    left: 14%;
    right: 30%;
    display: inline-block;
}

hr:not([size]) {
    height: 1px;
    color: #a7a3a3;
}

.iframe-container iframe {
    padding: 0cm;
    margin: 0%;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

body {
    scroll-behavior: smooth;
    background: #1f1d1d;
    overflow-x: hidden;
}

.featured-novels {
    margin-top: 11px;
    margin-left: 192px;
    font-family: 'Bree Serif', serif;
    text-align: left;
    font-size: 1.5rem;
    color: white;
}

ul li img {
    margin-left: 22px;
    width: 286px;
    height: 175px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: "column";
}

.radius {
    border-radius: 12px;
}

.card {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    margin: 14px;
    position: relative;
    border-radius: 12px;
    color: white;
    display: inline-block;
    width: 28%;
    background-color: #312b2b;
    font-size: 14px;
}

.page-content {
    background: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
}

.card-content-inner {
    margin-left: 3px;
    padding: 13px;
    text-align: center;
    width: 50%;
}

.card-title {
    font-size: 15px;
    margin-left: 21px;
    text-align: left;
}

.card-footer {
    border-radius: 0 0 2px 2px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border-top: 1px solid #504747;
}

.fa-play-circle:before {
    content: "\f144";
    color: #674a98;
    font-size: 28px;
}

.playlist {
    position: absolute;
    color: white;
    border-color: #a9b8cd;
    width: 139px;
    padding-bottom: 4px;
    font-size: 18px;
    border-radius: 6px;
    right: 15%;
    bottom: -40px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    padding-top: 3px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(131, 84, 161);
    text-align: center;
}

.playlist:hover {
    color: white;
    font-weight: bold;
}

.fa-play:before {
    content: "\f04b";
    margin-left: 7px;
}

.playvideo {
    color: white;
    border-color: #a9b8cd;
    width: 81px;
    padding-bottom: 1px;
    font-size: 15px;
    border-radius: 6px;
    margin-left: 4px;
}

.playvideo:hover {
    box-shadow: 6px 8px 0 rgba(21, 2, 2, 0.1);
    font-weight: bold;
    color: black;
    background-color: rgb(207, 194, 194);
}